<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/img/sprite.svg#icon-favicon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coffee Joogy</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css"
      integrity="sha512-q6WgHqiHlKyOqslT/lgBgodhd03Wp4BEqKeW6nNtlOY4quzyG3VoQKFrieaCeSnuVseNKRGpGeDU3qPmabCANg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/expirience.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Aboreto&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <section id="expirience">
    <div class="expirience-container">
      <div class="expirience-box">
        <h2 class="expirience-h2">Coffee Moments</h2>
        <p class="expirience-text">
          Experience the warmth and community of CoffeeJoy.
        </p>
      </div>
      <div class="photos-expirience">
        <ul>
          <li class="item-gallary">
            <img
              class="coffee-gallary"
              src="../img/img12.jpg"
              srcset="../img/img12-1x.jpg, ../img/img12-2x.jpg 2x"
              alt="Coffee moments"
            />
          </li>
          <li class="item-gallary">
            <img
              class="coffee-gallary"
              src="../img/img11.jpg"
              alt="coffee moments"
              srcset="../img/img11.jpg 1x, ../img/img11@2x.jpg 2x"
            />
          </li>
          <li class="item-gallary">
            <img
              class="coffee-gallary"
              src="../img/img10.jpg"
              alt="coffee moments"
              srcset="../img/img10.jpg 1x, ../img/img10@2x.jpg 2x"
            />
          </li>
          <li class="item-gallary">
            <img
              class="coffee-gallary"
              src="../img/img9.jpg"
              alt="coffee moments"
              srcset="../img/img9.jpg 1x, ../img/img9@2x.jpg 2x"
            />
          </li>
          <li class="item-gallary">
            <img
              class="coffee-gallary"
              src="../img/img8.jpg"
              alt="coffee moments"
              srcset="../img/img8.jpg 1x, ../img/img8@2x.jpg 2x"
            />
          </li>
          <li class="item-gallary">
            <img
              class="coffee-gallary"
              src="../img/img7.jpg"
              alt="coffee moments"
              srcset="..img/img7.jpg 1x, ../img/img7@2x.jpg 2x"
            />
          </li>
          <li class="item-gallary">
            <img
              class="coffee-gallary1"
              src="../img/img6.jpg"
              alt="coffee monkey"
              srcset="../img/img6.jpg 1x, ../img/img6@2x.jpg 2x"
            />
          </li>
        </ul>
      </div>
    </div>
  </section>
</html>
