<section id="expirience">
  <div class="expirience-container">
    <div class="expirience-box">
      <h2 class="expirience-h2">Coffee Moments</h2>
      <p class="expirience-text">
        Experience the warmth and community of CoffeeJoy.
      </p>
    </div>
    <div class="photos-expirience">
      <ul>
        <li class="item-gallary">
          <img
            class="coffee-gallary"
            src="../img/img12.jpg"
            srcset="../img/img12-1x.jpg, ../img/img12-2x.jpg 2x"
            alt="Coffee moments"
          />
        </li>
        <li class="item-gallary">
          <img
            class="coffee-gallary"
            src="../img/img11.jpg"
            alt="coffee moments"
            srcset="../img/img11.jpg 1x, ../img/img11@2x.jpg 2x"
          />
        </li>
        <li class="item-gallary">
          <img
            class="coffee-gallary"
            src="../img/img10.jpg"
            alt="coffee moments"
            srcset="../img/img10.jpg 1x, ../img/img10@2x.jpg 2x"
          />
        </li>
        <li class="item-gallary">
          <img
            class="coffee-gallary"
            src="../img/img9.jpg"
            alt="coffee moments"
            srcset="../img/img9.jpg 1x, ../img/img9@2x.jpg 2x"
          />
        </li>
        <li class="item-gallary">
          <img
            class="coffee-gallary"
            src="../img/img8.jpg"
            alt="coffee moments"
            srcset="../img/img8.jpg 1x, ../img/img8@2x.jpg 2x"
          />
        </li>
        <li class="item-gallary">
          <img
            class="coffee-gallary"
            src="../img/img7.jpg"
            alt="coffee moments"
            srcset="../img/img7.jpg 1x, ../img/img7@2x.jpg 2x"
          />
        </li>
        <li class="item-gallary">
          <img
            class="coffee-gallary"
            src="../img/img6.jpg"
            alt="coffee moments"
            srcset="../img/img6.jpg 1x, ../img/img6@2x.jpg 2x"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
