<header class="page-header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="header-logo" href="/index.html">
        <svg class="logo-icon" width="84" height="36">
          <use href="/img/sprite.svg#icon-coffee-joy"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link current" href="#about-us">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#benefits">Benefits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#testimonial">Testimonial</a>
        </li>
        <li class="nav-item location-off">
          <a class="nav-link" href="#location">Location</a>
        </li>
      </ul>
    </nav>
    <button class="burger-button" type="button" data-menu-open>
      <svg class="burger-icon" width="16" height="12">
        <use href="/img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
