<div class="mobile-menu">
  <div class="mobile-logo-container">
    <a class="logo-mobile" href="./index.html" aria-label="Homepage">
      <svg width="84" height="36" aria-hidden="true" focusable="false">
        <use href="img/sprite.svg#icon-coffee-joy"></use>
      </svg>
    </a>
    <button class="mobile-menu-btn" type="button" aria-label="Close menu">
      <svg class="mobile-menu-btn-icon" width="11.31" height="11.31">
        <use href="img/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <nav class="nav-mobile">
    <ul class="mobile-menu-nav">
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#about-us">About us</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#quality">Benefits</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#experience">Gallery</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#testimonial">Testimonial</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#location">Location</a>
      </li>
    </ul>
  </nav>
</div>
