      <div class="backdrop subscription-open">
         <div class="modal">
            <div class="modal-wrapper">
               <button type="button" class="button-modal-close">
                  <svg class="modal-icon" width="32" height="32">
                     <use href="/img/sprite.svg#icon-icon"></use>
                  </svg>
               </button>
               <h2 class="modal-title">Welcome to the world of CoffeeJoy!</h2>
               <p class="modal-caption">
                  Fresh brews, special offers, and cozy updates are coming your
                  way.
               </p>
               <img src="/img/" alt="coffee" />
               <button type="button" class="modal-button">Close</button>
            </div>
         </div>
      </div>
   </body>
</html>