<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/img/sprite.svg#icon-favicon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coffee Joogy</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Aboreto&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css"
      integrity="sha512-q6WgHqiHlKyOqslT/lgBgodhd03Wp4BEqKeW6nNtlOY4quzyG3VoQKFrieaCeSnuVseNKRGpGeDU3qPmabCANg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/modal_menu.css" />
  </head>

  <div class="backdrop subscription-open">
    <div class="modal">
      <div class="modal-wrapper">
        <button type="button" class="button-modal-close">
          <svg class="modal-icon" width="32" height="32">
            <use href="../img/sprite.svg#icon-icon"></use>
          </svg>
        </button>
        <h2 class="modal-title">Welcome to the world of CoffeeJoy!</h2>
        <p class="modal-caption">
          Fresh brews, special offers, and cozy updates are coming your way.
        </p>
        <img
          src="../img/modal.jpg"
          alt="coffee"
          srcset="../img/modal.jpg 1x, ../img/modal@2x.jpg 2x"
        />
        <button type="button" class="modal-button">Close</button>
      </div>
    </div>
  </div>
</html>
