<section class="testimonials" id="testimonial">
  <div class="container">
    <h2 class="testimonials-titel">What our visitors say</h2>
    <ul class="testimonials-list">
      <li class="testimonials-item">
        <ul class="testimonials-list-stars">
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="testimonials-descr">
          "Every cup feels like a warm hug! I’m addicted to their seasonal
          flavors!"
        </p>

        <h3 class="testimonials-name">Name Surname</h3>
      </li>
      <li class="testimonials-item">
        <ul class="testimonials-list-stars">
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="testimonials-descr">
          "CoffeeJoy is my go-to place for a perfect cup of coffee! The ambiance
          is so inviting, and the baristas are always friendly."
        </p>
        <h3 class="testimonials-name">Alice Johnson</h3>
      </li>
      <li class="testimonials-item">
        <ul class="testimonials-list-stars">
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
        </ul>
        <p class="testimonials-descr">
          "I love the variety of blends offered at CoffeeJoy. Every visit feels
          like a new experience!"
        </p>
        <h3 class="testimonials-name">Michael Smith</h3>
      </li>
      <li class="testimonials-item">
        <ul class="testimonials-list-stars">
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="testimonials-descr">
          "The pastries are to die for! I can’t resist pairing them with my
          favorite latte. Highly recommend this spot!"
        </p>
        <h3 class="testimonials-name">Emily Davis</h3>
      </li>
      <li class="testimonials-item">
        <ul class="testimonials-list-stars">
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
        </ul>
        <p class="testimonials-descr">
          "A cozy little gem! CoffeeJoy has the best cold brew in town. I come
          here every weekend!"
        </p>
        <h3 class="testimonials-name">James Brown</h3>
      </li>
      <li class="testimonials-item">
        <ul class="testimonials-list-stars">
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="testimonials-descr">
          "The atmosphere is perfect for working or relaxing with friends. Their
          Wi-Fi is fast too!"
        </p>
        <h3 class="testimonials-name">Sarah Wilson</h3>
      </li>
      <li class="testimonials-item">
        <ul class="testimonials-list-stars">
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="testimonials-descr">
          "I’m addicted to their seasonal flavors! Each one is crafted with such
          care and creativity."
        </p>
        <h3 class="testimonials-name">Chris Lee</h3>
      </li>
      <li class="testimonials-item">
        <ul class="testimonials-list-stars">
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="testimonials-item-stars">
            <svg width="20" height="19">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="testimonials-descr">
          "I appreciate how they source their coffee beans sustainably. It's
          great to support such an ethical business!"
        </p>
        <h3 class="testimonials-name">Patricia Taylor</h3>
      </li>
    </ul>
  </div>
</section>
