:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Quicksand', 'Aboreto', sans-serif;
   
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
