
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.nav-list {
    display: none;
}

.header-logo {
    display: flex;
    align-items: center;
}

.burger-button {
    padding: 0;
    border: none;
    background-color: transparent;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-icon {
    display: block;
    fill: #0b0803;
}

@media screen and (min-width: 768px) {
    .header-container {
        padding: 0 32px;
    }

    .burger-button {
        display: none;
    }

    .header-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        
    }

    

    .nav-list {
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #0b0803;
        display: flex;
        align-items: center;
        gap: 32px;
        flex-direction: row;
    }

    .nav-link {
        position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #6f4e37;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link::after {
        content: '';
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: -1px;
        border-radius: 2px;
        background-color: #6f4e37;
        opacity: 0;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:hover,
    .nav-link:focus {
        color: #0b0803;
    }

    .nav-link:hover::after,
    .nav-link:focus::after {
        opacity: 1;
    }
}

@media screen and (min-width: 1440px) {
    .header-container {
        padding: 0 64px;
    }

    .nav-list {
        gap: 32px;
    }

    .nav-link {
        font-family: 'Quicksand', sans-serif;
        padding: 24px 0;
        position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #6f4e37;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: block;
    }

  
}