
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.nav-list {
    display: none;
}

.header-logo {
    display: block;
    padding: 18px 0;
}

.burger-button {
    padding: 0;
    border: none;
    background-color: transparent;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-icon {
    display: block;
    fill: #0B0803;
}

@media screen and (min-width: 768px) {
    .burger-button {
        display: none;
    }

    .nav-list {
        font-family: "Quicksand", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #0B0803;
        display: flex;
        align-items: center;
        gap: 32px;
        margin-left: 100px;
        flex-direction: row;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .header-logo {
        padding: 24px 0;
    }

    .nav-link {
        position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link::after {
        content: '';
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: -1px;
        border-radius: 2px;
        background-color: #6F4E37;
        opacity: 0;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:hover,
    .nav-link:focus,
    .nav-link.current {
        color: #6F4E37;
    }

    .nav-link:hover::after,
    .nav-link:focus::after,
    .nav-link.current::after {
        opacity: 1;
    }
}

@media screen and (min-width: 1440px) {
    .header-logo {
        margin-left: 64px;
      margin-right: 772px;
    }

    .header-container {
        display: flex;
        align-items: center;
    }

    .nav-link {
        font-family: "Quicksand", sans-serif;
        padding: 24px 0;
        position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #6F4E37;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
            gap: 32px;
    }

    .location-off {
        display: none;
    }
}