/* продублюванні стилі */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}
main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1140px) {
  .container {
    max-width: 1140px;
  }
}

/* кінець продублюванних стилей */

.hero-section {
  padding: 0 32px;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/img/img1.jpg);
  max-width: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(/img/img1@2x.jpg);
  }
}
/* TABLET */

@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    padding: 0 32px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(/img/img1.jpg);
  }
  @media (min-resolution: 192dpi) {
    .hero-section {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(/img/img1@2x.jpg);
    }
  }
}
/* DESKTOP */

@media screen and (min-width: 1140px) {
  .hero-section {
    max-width: 1440px;
  }
}
@media screen and (min-width: 1140px) {
  .hero-section {
    padding: 0px 64px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(/img/img1.jpg);
  }
  @media (min-resolution: 192dpi) {
    .hero-section {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(/img/img1@2x.jpg);
    }
  }
}

.hero-container {
  /* position: relative;
  z-index: 2;
  max-width: 375px;
  text-align: left; */
  display: flex;
  flex-direction: column;
  /* gap: 32px; */
}
/* TABLET */
@media screen and (min-width: 768px) {
  .hero-container {
    margin-left: 32px;
    max-width: 560px;
  }
}
/* DESKTOP */
@media screen and (min-width: 1140px) {
  .hero-container {
    margin-left: 64px;
    max-width: 560px;
  }
}

.hero-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #ffffff;
  margin-bottom: 24px;
}

/* DESKTOP */
@media screen and (min-width: 1140px) {
  .hero-title {
    font-size: 56px;
  }
}

.hero-paragraf {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 32px;
}

.hero-btn {
  font-family: var(--font-family);
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  border-radius: 100px;

  padding: 10px 24px;
  max-width: 135px;
  max-height: 44px;
  border: none;

  /* text-decoration: none; */
  border: none;
  box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);

  background-color: #6f4e37;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
  color: #23201c;
  background: #d3b89c;
}
