.mobile-menu {
    background-color: #E0CBB4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    display: none;
}

.mobile-menu.is-open {
    transform: translateX(0);
    display: block;
    height: 100%;
}

@media (min-width: 768px) {
    .mobile-menu {
        display: none !important;
    }
}

.mobile-logo-container {
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-mobile svg {
    display: block;
}

.mobile-menu-btn {
    border: none;
    background-color: transparent;
}

.mobile-menu-nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu-link {
    color: #0B0803;
    text-decoration: none;
    transition: color 250ms ease-in-out;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
    color: #7C5D3B;
}