.mobile-menu {
    background-color: #E0CBB4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.mobile-menu.is-open {
    transform: translateX(0);
}

.mobile-logo-container {
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-mobile svg {
    display: block;
}

.mobile-menu-btn {
    border: none;
    background-color: transparent;
}

.mobile-menu-nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu-link {
    color: #111111;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    transition: color 250ms ease-in-out;
}