:root {
  --color-scheme-1-background: var(--color-coffee-lighter);
  --color-neutral-darkest: #0b0803;
  --color-scheme-1-border: var(--opacity-neutral-darkest-15);
  --color-scheme-1-text: var(--color-neutral-darkest);
  --color-neutral-lighter: #dad9d9;
  --color-white: #fff;
  --color-neutral-lightest: #f2f2f2;
  --color-neutral-light: #b5b4b3;
  --color-neutral: #858381;
  --color-neutral-dark: #54524e;
  --color-neutral-darker: #23201c;
  --opacity-transparent: rgba(255, 255, 255, 0);
  --color-scheme-1-foreground: var(--color-coffee-light);
  --color-scheme-1-accent: var(--color-neutral-darkest);
  --opacity-white-5: rgba(255, 255, 255, 0.05);
  --opacity-white-10: rgba(255, 255, 255, 0.1);
  --opacity-white-15: rgba(255, 255, 255, 0.15);
  --opacity-white-20: rgba(255, 255, 255, 0.2);
  --opacity-white-30: rgba(255, 255, 255, 0.3);
  --opacity-white-40: rgba(255, 255, 255, 0.4);
  --opacity-white-50: rgba(255, 255, 255, 0.5);
  --opacity-white-60: rgba(255, 255, 255, 0.6);
  --opacity-neutral-darkest-5: rgba(11, 8, 3, 0.05);
  --opacity-neutral-darkest-10: rgba(11, 8, 3, 0.1);
  --opacity-neutral-darkest-15: rgba(11, 8, 3, 0.15);
  --opacity-neutral-darkest-20: rgba(11, 8, 3, 0.2);
  --opacity-neutral-darkest-30: rgba(11, 8, 3, 0.3);
  --opacity-neutral-darkest-40: rgba(11, 8, 3, 0.4);
  --opacity-neutral-darkest-50: rgba(11, 8, 3, 0.5);
  --opacity-neutral-darkest-60: rgba(11, 8, 3, 0.6);
  --color-coffee-lightest: #eadfd6;
  --color-coffee-lighter: #e0cbb4;
  --color-coffee-light: #c29d84;
  --color-coffee: #b58869;
  --color-coffee-dark: #6f4e37;
  --color-coffee-darker: #60432f;
  --color-coffee-darkest: #443022;
  --color-scheme-2-text: var(--color-neutral-darkest);
  --color-scheme-2-background: var(--color-coffee);
  --color-scheme-2-border: var(--opacity-neutral-darkest-15);
  --color-scheme-2-accent: var(--color-neutral-darkest);
  --color-scheme-2-foreground: var(--color-coffee);
  --color-error-red: #7f1c1c;
  --font-family: 'Quicksand', sans-serif;
  --second-family: 'Aboreto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  background-color: var(--color-scheme-1-background);
}
body:has(.subscription-open) {
  overflow: hidden;
}
main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  cursor: pointer;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, visibility;
}

.backdrop.subscription-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition-delay: 0ms;
  z-index: 1000;
}

.modal {
  background-color: #e0cbb4;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  max-width: 288px;
  min-height: 631px;
  transform: translateX(-50%) translateY(-80%);
  box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 3px 0px, rgba(0, 0, 0, 0.2) 0px 2px 1px 0px;
  border-radius: 40px;
  padding: 64px 16px 24px;
  z-index: 1000;
}

.backdrop.subscription-open .modal {
  opacity: 1;
  transform: translateY(-70%) translateX(-50%);
}
@media only screen and (min-width: 768px) {
  .modal {
    padding: 64px 30px;
    min-width: 704px;
  }
}
@media only screen and (min-width: 1440px) {
  .modal {
    padding: 64px;
    min-width: 866px;
  }
}
.modal-wrapper img {
  min-width: 256px;
  min-height: 200px;
  display: block;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .modal-wrapper img {
    max-width: 644px;
    min-height: 374px;
  }
}
.button-modal-close {
  position: absolute;
  right: 24px;
  top: 24px;
  height: 32px;
  width: 32px;
  display: flex;
  cursor: pointer;
  padding: 0;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background-color: transparent;
}
.modal-icon {
  fill: var(--color-neutral-darkes);
}
.modal-title {
  min-width: 256px;
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .modal-title {
    margin: 0 auto;
    margin-bottom: 16px;
    font-size: 36px;
    max-width: 502px;
  }
}
@media only screen and (min-width: 1440px) {
  .modal-title {
    font-size: 48px;
    max-width: 738px;
  }
}
.modal-caption {
  font-weight: 400;
  font-size: 18px;
  max-width: 256px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .modal-caption {
    margin: 0 auto;
    max-width: 576px;
    margin-bottom: 48px;
  }
}
.modal-button {
  min-width: 256px;
  height: 44px;

  font-weight: 500;

  line-height: 1.5;
  color: #fff;
  border-radius: 100px;
  padding: 10px 24px;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #6f4e37;
  display: block;
  margin: 0 auto;
  margin-top: 24px;
}
.modal-button:hover {
  color: #23201c;
  background: #d3b89c;
}
@media only screen and (min-width: 768px) {
  .modal-button {
    min-width: 340px;
    margin-top: 48px;
  }
}
@media only screen and (min-width: 1440px) {
  .modal-button {
    min-width: 274px;
  }
}
