.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, visibility;
}

.backdrop.subscription-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition-delay: 0ms;
}

.modal {
  background-color: #e0cbb4;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  max-width: 288px;
  min-height: 631px;
  transform: translateX(-50%) translateY(-80%);
  box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 3px 0px, rgba(0, 0, 0, 0.2) 0px 2px 1px 0px;
  border-radius: 40px;
  padding: 64px 16px 24px;
}

.backdrop.subscription-open .modal {
  opacity: 1;
  transform: translateY(-70%) translateX(-50%);
}
@media only screen and (min-width: 768px) {
  .modal {
    padding: 64px 30px;
    min-width: 704px;
  }
}
@media only screen and (min-width: 1440px) {
  .modal {
    padding: 64px;
    min-width: 866px;
  }
}
.modal-wrapper img {
  min-width: 256px;
  min-height: 200px;
  display: block;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .modal-wrapper img {
    max-width: 644px;
    min-height: 374px;
  }
}
.button-modal-close {
  position: absolute;
  right: 24px;
  top: 24px;
  height: 32px;
  width: 32px;
  display: flex;
  cursor: pointer;
  padding: 0;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background-color: transparent;
}
.modal-icon {
  fill: var(--color-neutral-darkes);
}
.modal-title {
  min-width: 256px;
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .modal-title {
    margin: 0 auto;
    margin-bottom: 16px;
    font-size: 36px;
    max-width: 502px;
  }
}
@media only screen and (min-width: 1440px) {
  .modal-title {
    font-size: 48px;
    max-width: 738px;
  }
}
.modal-caption {
  font-weight: 400;
  font-size: 18px;
  max-width: 256px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .modal-caption {
    margin: 0 auto;
    max-width: 576px;
    margin-bottom: 48px;
  }
}
.modal-button {
  min-width: 256px;
  height: 44px;

  font-weight: 500;

  line-height: 1.5;
  color: #fff;
  border-radius: 100px;
  padding: 10px 24px;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #6f4e37;
  display: block;
  margin: 0 auto;
  margin-top: 24px;
}
.modal-button:hover {
  color: #23201c;
  background: #d3b89c;
}
@media only screen and (min-width: 768px) {
  .modal-button {
    min-width: 340px;
    margin-top: 48px;
  }
}
@media only screen and (min-width: 1440px) {
  .modal-button {
    min-width: 274px;
  }
}
