

.quality-container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
.quality-div {
    display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
gap: 16px;
width: 288px;
height: 425px;
margin-bottom: 32px;
}
.quality-main {
font-weight: 600;
font-size: 16px;
line-height: 1.5;
text-align: center;
justify-content: flex-start;
color: #0b0803;
font-family: "Aboreto", sans-serif;
margin-bottom: 0;
margin-top: 64px;

}
.quality-title {
    font-weight: 400;
font-size: 36px;
line-height: 1.2;
letter-spacing: -0.01em;
text-align: center;
justify-content: flex-start;
color: #0b0803;
font-family: "Aboreto", sans-serif;
margin-top: 16px;
margin-bottom: 0;
width: 288px;
height: 100%;
}
.quality-text {
 font-weight: 400;
font-size: 18px;
line-height: 1.5;
text-align: center;
color: #0b0803;
margin-top: 24px;
margin-bottom: 0;
}
.quality-list {
 list-style-type: none;
 margin-top: 0;
 display: flex;
/* align-items: flex-start;
justify-content: flex-start; */
flex-direction: column;
gap: 32px;
width: 288px;
height: 312px;
min-width: 264px;
}
.quality-number {
}
.quality-foto {
 border-radius: 32px;
width: 288px;
height: 164px;
margin-bottom: 32px;
}
.quality-head {
    font-weight: 600;
font-size: 20px;
line-height: 1.5;
text-align: center;
color: #0b0803;
margin-top: 0;
}
.quality-discription {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
color: #0b0803;
margin-top: 8px;
margin-bottom: 0;
}