.quality-container {
  max-width: 375px;
  padding: 64px 16px;
  margin: 0 auto;
}

.quality-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  margin: 0;


}

.quality-main {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  justify-content: flex-start;
  color: #0b0803;
  font-family: "Aboreto", sans-serif;
  margin-bottom: 0;
}

.quality-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  justify-content: flex-start;
  color: #0b0803;
  font-family: "Aboreto", sans-serif;
  margin-top: 16px;
  margin-bottom: 0;
  width: 288px;
  height: 100%;
}

.quality-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #0b0803;
  margin-top: 24px;
  margin-bottom: 0;
}

.quality-list {
  list-style-type: none;
  margin-top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.quality-number {
  margin-top: 24px;
}

.quality-number li:last-child {
  margin: 0;
}

.quality-foto {
  border-radius: 32px;
  width: 100%;
  height: 164px;
}

.quality-head {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #0b0803;
  margin-top: 32px;
  margin-bottom: 0;
}

.quality-discription {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #0b0803;
  margin-top: 8px;
}


/* tablet */

@media screen and (min-width: 768px) {
  .quality-container {
    min-width: 768px;
    margin: 0 auto;
    padding: 64px 32px;
  }

  .quality-div {
    width: 704px;
  }

  .quality-title {
    width: 452px;
  }

  .quality-list {
    /* display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: auto auto;
padding: 0; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 32px;
    gap: 24px;
    width: 704px;
    /* align-items: center; */
    justify-content: center;
  }

  .quality-number {
    width: calc((100% - 24px) / 2);
    text-align: center;
  }

  .quality-number:nth-child(3) {
    width: 100%;

  }

  .quality-foto {
    width: 100%;
    border-radius: 32px;
    height: auto;
    margin-bottom: 32px;
    object-fit: cover;
  }

  .quality-number:nth-child(3) .quality-foto {
    height: 401px;
  }

  .quality-head {

    width: 284px;
    margin: 0 auto 8px;

  }

  .quality-discription {
    margin: 0 auto;
  }

  .quality-number:nth-child(3) .quality-discription {
    width: 440px;
  }
}

/* laptop */


@media screen and (min-width: 1440px) {
  .quality-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 64px;
  }

  .quality-div {
    width: 1312px;
  }

  .quality-title {
    font-size: 48px;
    width: 768px;
  }

  .quality-text {
    margin-bottom: 32px;
    width: 768px;
  }

  .quality-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    flex-wrap: nowrap;
    width: 1312px;
    margin-bottom: 0;
  }

  .quality-number {
    width: calc((100% - 2*24px) /3);
    text-align: center;
  }

  .quality-number:nth-child(3) .quality-foto {
    height: 240px;
    /* width: calc((100% - 48px) /3);  */
  }

  .quality-number:nth-child(3) {
    /* width: 421px; */
    /* height: 240px;  */
    width: calc((100% - 2*24px) /3);
  }

  .quality-foto {

    height: 240px;
    width: 421px;
    border-radius: 32px;
    object-fit: cover;
    /* margin-bottom: 32px; */
  }

  .quality-head,
  .quality-discription {
    margin: 0 auto 8px;
    text-align: center;
  }
}